@import "tailwindcss";

a.active hr{
    display: block;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width:640px) {
    a.active{
        background-color: black;
        color:#fff;
    }
    
}


::-webkit-scrollbar{
    display: none;
}